.title {
  color: #0176ba;
  margin: 0 0 30px;
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
}

.text {
  font-size: 1.2em;
  font-family: "Tinos", serif;
  font-weight: 400;
  margin-block-start: 1em;
  margin-block-end: 1em;
  line-height: 1.4em;
}