#header {
  color: #ffffff;
  background: #0176ba;
}

.mainNav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Liter", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.navLogo {
  height: 6em;
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 1.5em;
  font-family: "Tinos", serif;
  font-weight: 400;
  text-transform: capitalize;
}

.navList {
  height: 100%;
  vertical-align: middle;
  display: flex;
}

.navElem {
  box-sizing: border-box;
  position: relative; 
  padding: 2.5em 0;
}

.link {
  color: #ffffff;
  transition: .2s linear;
}

.navElem .link {
  padding: 2.5em 0.8em;
}

.navElem .link:hover {
  background-color: #2187c3;
}
