<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>123</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <header id="header">
    <div class="nav-wrapper">
      <nav class="main-nav">
        <div class="nav-logo">
          <img src="../images/main_logo_w.png" alt="Logo">
          <div class="logo-text">
            <p>Християнська церква "Перемога"</p>
            <p>м. Запоріжжя</p>
          </div>
        </div>
        <ul class="nav-list">
          <li class="nav-elem">Головна</li>
          <li class="nav-elem">Служіння</li>
          <li class="nav-elem">Новини</li>
          <li class="nav-elem">Галерея</li>
          <li class="nav-elem">Контакти</li>
          <li class="nav-elem">Про нас</li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="main">
    <div class="wrapper">
      <div id="full-main-slider"></div>
      <div class="news-slider">
        <div class="slider-elem">
          
        </div>
        <div class="slider-elem">

        </div>
        <div class="slider-elem">

        </div>
      </div>
      <div class="main-welcome"></div>
      <div class="main-events"></div>
    </div>
  </main>
  <footer id="footer">
    
  </footer>
</body>
</html>