.newsSection {
  padding: 80px 0;
}

.slider {
  padding: 20px 0;
  border-bottom: 1px solid #0000004d;
  border-top: 1px solid #0000004d;
}

.arrowNext,
.arrowPrev {
  font-size: 1em;
}


.arrowPrev {
  left: -50px;
}

.arrowNext {
  right: -50px;
}