@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  --color-text: #2c2c2c;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.title {
  color: #0176ba;
  margin: 0 0 30px;
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}